.container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}
img {
  height: 27px;
  width: 27px;
  cursor: pointer;
}
.description {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 130px;
  /* margin: 0 0; */
}

.description,
.add-btn,
.close-btn {
  width: 100%;
}
.add-btn,
.close-btn {
  margin-top: 2%;
  margin-bottom: 2%;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  /* text-wrap: wrap; */
}

.card {
  width: 200px;
  height: 200px;
  margin: 15px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.modal {
  width: 80%;
}
.danger {
  color: red;
}
/* .txt {
  color: white;
} */
/* .footer {
  margin-top: 70px;
} */

/* Media query */
@media only screen and (max-width: 767px) {
  /* Styles for small screens */
  .cards {
    justify-content: space-evenly;
  }
}
