.container {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: black;
  text-align: center;
  color: white;
  cursor: pointer;
}

.plus {
  font-size: 16px;
  text-align: center;
}

.description {
  margin-top: 2%;
  margin-bottom: 2%;
  height: 130px;
  /* margin: 0 0; */
}

.description,
.add-btn,
.close-btn {
  width: 100%;
}
.add-btn,
.close-btn {
  margin-top: 2%;
  margin-bottom: 2%;
}
button.disabled {
  cursor: not-allowed;
  opacity: 0.6;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  /* text-wrap: wrap; */
}

.card {
  width: 200px;
  height: 200px;
  margin: 15px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  box-shadow: 0 3px 30px 0 rgba(36, 198, 220, 0.07);
}

.danger {
  color: red;
}

/* Media query */
@media only screen and (max-width: 767px) {
  /* Styles for small screens */
  .cards {
    justify-content: space-evenly;
  }
}
